<footer>
  {{!-- <section class="mb-4 mt-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 text-center">
          <h5 class="mt-4 mb-3">ABOUT THIS PAGE</h5>
          <h6>Made by <i class="fas fa-heart"></i> RVS Media.</h6>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
          <h5 class="mt-4 mb-3 mr-3">AROUND THE WORLD</h5>
          <a href="#"><i class="fab fa-facebook fa-2x mr-1"></i></a>
          <a href="#"><i class="fab fa-linkedin fa-2x mr-1"></i></a>
          <a href="#"><i class="fab fa-reddit-square fa-2x mr-1"></i></a>
          <a href="#"><i class="fab fa-twitter-square fa-2x mr-1"></i></a>
          <a href="#"><i class="fab fa-instagram fa-2x mr-1"></i></a>
        </div>
      </div>
    </div>
  </section> --}}
  <section class="footer-2">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h6 class="pt-4 pb-4">RVS Media © 2024. All Rights Reversed</h6>
        </div>
      </div>
    </div>
  </section>
</footer>
