<main>
    <section id="home">
      <div class="container mt-6">
        <div class="jumbotron mb-1">
          <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="main-container">
                  <ul class="grid-wrapper">
                    <a href="/xls-to-csv"><li>XLS to CSV</li></a>
                    <a href="/biometric-calculations"><li>Biometric Calculations</li></a>
                    <a href="/generate-salary-slips"><li>Generate Salary Slips</li></a>
                  </ul>
                </div>
            </div>
           
          </div>
        </div>
      </div>
    </section>
  </main>